
* {
margin: 0;
padding: 0;
};

/* #main {
    margin: 0%;
    padding: 0%;
    height: 500px;
}; */
/* #left-side */
/* #card1 */

/* #right-side */
/* #card2 {
    margin: 100px 0 100px 0;
    padding: 5px;
}; */



/* #footer */
/* #top-footer */
/* #score1 */
/* #cards1 */

/* #bottom-footer */
/* #score2 */
/* #cards2 */
